body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
}
.button {
    background-color: #E6A562;
    padding: 10px;
    border-radius: 10px;
}
.nav-container a {
    text-decoration: none;
    color: #000000;
}
.link {
    color: #E6A562;
    text-decoration: underline;
}
ul {
    list-style: none;
}
.nav-container {
    margin: 20px 100px;
}
.nav-container img {
    width: 300px;
}
.nav-container ul {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
}
.nav-container li:first-child {
    order: -1;
    margin-right: auto;
}
.hero-container {
    background-color: #FFCF83;
    padding: 50px 100px;
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
}
.hero-container img {
    width: 400px;
}
.hero-container article p {
    width: 55%;
}
h1 {
    font-size: 1.75em;
    font-weight: bold;
}
h2 {
    font-size: 1.50em;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 1.25em;
    font-weight: bold;
}
.features-container h2 {
    padding: 40px 0;
}
.features {
    display: flex;
    justify-content: space-evenly;
}
.cat-care, .quizzes, .community {
    width: 325px;
    background-color: #FFFFFF;
    text-align: center;
}







.testimonials-container h2 {
    color: #FFFFFF;
    padding: 40px 0;
}
.testimonials-container {
    background-color: #222e50;
}
.testimonials {
    background-color: #FFFFFF;
}


.team-container h2 {
    padding: 40px 0;
}
.footer-container {
    background-color: lightgray;
}