body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
}
.button {
    background-color: #E6A562;
    padding: 10px;
    border-radius: 10px;
}
.nav-container a {
    text-decoration: none;
    color: #000000;
}
.link {
    color: #E6A562;
    text-decoration: underline;
}
ul {
    list-style: none;
}
.nav-container {
    margin: 20px 100px;
}
.nav-container img {
    width: 300px;
}
.nav-container ul {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
}
.nav-container li:first-child {
    order: -1;
    margin-right: auto;
}
.hero-container {
    background-color: #FFCF83;
    padding: 50px 200px;
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
}
.hero-container img {
    width: 400px;
}
.hero-container article p {
    width: 65%;
}
h1 {
    font-size: 1.75em;
    font-weight: bold;
}
h2 {
    font-size: 1.50em;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 1.25em;
    font-weight: bold;
}
.features-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.features-container h2 {
    width: 100%;
}
.cat-care, .quizzes, .community {
    width: 375px;
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;
    padding: 20px 40px;
}
.features-container p {
    padding-bottom: 20px;
}
.features-container h3 {
    padding: 20PX;
}
.testimonials-container h2 {
    color: #FFFFFF;
    width: 100%;
}
.testimonials-container {
    background-color: #222e50;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 40px;
}
.testimonials {
    background-color: #FFFFFF;
    width: 360px;
    height: 150px;
    text-align: left;
    padding: 20px; 
}
.testimonials span {
    font-weight: bold;
}



.team-container h2 {
    padding: 40px 0;
}
.footer-container {
    background-color: lightgray;
}